* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.navbar {
    background: #34495E;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__item {
    height: 80px;
}

.nav__links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.4s ease;
}

.nav__links:hover {
    color: cyan;
    transition: all 0.4s ease;
}

/* Hero section */

.hero {
    background-image: url("pexels-bri-schneiter-346529.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    padding: 233px;

}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    padding: 30px;
}

.hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #ffffff;
    text-align: center;
}

.hero__description1 {
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 10px;
    text-align: center;
}

.hero__description2 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.about {
    background-color: black;
    background-image: linear-gradient(black, #34495E);
    height: 900px;
    padding-left: 233px;
    padding-right: 233px;
    padding-top: 150px;

}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    padding: 30px;
}

.about__heading {
    font-size: 40px;
    margin-bottom: 24px;
    color: white;
    text-align: center;
}

.about__description {
    font-size: 20px;
    color: lightgrey;
    padding-bottom: 10px;
    padding-top: 20px;
}

.about__link {
    text-decoration: none;
    color: cyan;
}

img {
	float: left;
    border: 2px solid #ffffff;
    margin: 1.5em;
    border-radius: 50%;
    
}
section {
    display: flex;
    clear: left;
    justify-content: center;
    justify-content: space-evenly;
    color: #ffffff;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.section__description h2{
    color: cyan;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.section__description h3{
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section__description p{
    color: lightgrey;
    font-size: 20px;
}

.section__description ul {
    color: lightgrey;
    font-size: large;
    list-style-type: none;
    word-spacing: 2px;
    
}

.section__description li {
    margin-bottom: 10px;
}

/* .resume__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
} */

.resume__container {
    background-color: #F0F3F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume__header {
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    color: black;
    text-align: center;
}

.resume__description {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 24px;
    color: blue;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 40px;
}

.resume__workitem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    width: 75%;
    
}

.resume__workitem-place{
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    padding-right: 150px;
    padding-bottom: 250px;
    border-right: 2px solid #34495E;
}

.resume__workitem-place p{
    font-size: 15px;
    font-weight: bold;
    color: #34495E;
}

.resume__workitem-description h2 {
    padding-left: 50px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    width: 500px;
    border-bottom: 2px solid #34495E;
}

.resume__workitem-description p {
    padding-left: 50px;
    max-width: 550px;
}

.contact__container {
    background-color: #34495E;
    background-image: linear-gradient(#34495E, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 675px;
}

.contact__header h1{
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 24px;
    color: cyan;
    text-align: center;
}

.contact__description h1 {
    font-size: 35px;
    margin-bottom: 24px;
    color: white;
    text-align: center;
}

.contact__description p {
    font-size: 20px;
    margin-bottom: 70px;
    color: lightgrey;
    text-align: center;
}

.contact__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.contact__link-wrapper {
    display: flex;
}

.contact__link-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    text-align: center;
    width: 300px;
    box-sizing: border-box;
}

.contact__link-items h2 {
    margin-bottom: 20px;
    color: cyan;
}

.contact__link-items a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: all 0.4s ease;
}

.contact__link-items p {
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 0.5rem;
}

.contact__link-items a:hover {
    color: cyan;
    transition: all 0.4s ease;
}

.contact__icon {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 40px;
}

/* .footer {
    background: black;
}

.footer__container {
    display: flex;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;

}

.footer__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer__item {
    text-align: center;
    height: 100px;
    color: cyan;
} */
